html, body {
    font-family: Raleway, Arial;
    font-size: 13px;
    box-sizing: border-box;
    height: 100%;
}

#bloc-page {
    width: max-content;
    height: 100%;
    margin: auto;
}

/* HEADER */
.header {
    padding: 20px 0;
}

.liste-navigation {
    display: flex;
    list-style-type: none;
}

#logo {
    margin-right: auto;
    margin-left: 0;
}

#logo > img {
    width: 110px;
    height: 50px;
}

.inscription {
    color: #0065FC;
    font-weight: bold;
}

.inscription:visited {
    color: #0065FC;
}

.liste-navigation > div {
    height: 40px;
    margin: 20px;
}

.liste-navigation > div > img {
    height: 40px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

header a {
    text-decoration: none;
    width: max-content;
    color: black;
}

header a:active {
    padding-top: 20px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* LOCALISATION ET FILTRES */
.localisation {
    display: flex;
    width: 360px;
    height: 47px;
}

.fav {
    background-color: lightgrey;
    height: 30px;
    width: 45px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    border: 1px solid lightgray;
    border-right: none;
    padding-top: 15px;
}

input {
    border: 1px solid lightgray;
    text-align: left;
    padding-left: 13px;
    font-weight: 900;
}

label {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    padding: 14px 10px 0 10px;
    cursor: pointer;
}

.filtres {
    display: flex;
    padding-top: 32px;
    width: 790px;
    height: 45px;
    justify-content: space-between;
    font-weight: bold;
}

.capsule {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 40px;
    border-left: none;
    padding-right: 16px;
}

.capsule:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.fav-capsule {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 14px;
    border-radius: 50%/50%;
    padding: 13px 14px 0 14px;
    margin-right: 12px;
}

.info {
    display: flex;
    padding-top: 20px;
}

.fav-info {
    align-self: center;
    color: #0065FC;
    width: 13px;
    border: 1px solid lightgray;
    border-radius: 50%/50%;
    padding: 3px 0 5px 10px;
    margin-right: 11px;
}

.fa-info {
    font-size: x-small;
}

/* SECTION HEBERGEMENTS */
#hebergements {
    display: flex;
    width: 1100px;
    height: 550px;
    justify-content: space-between;
    padding-top: 31px;
}

.hebergements-ville {
    background-color: #F2F2F2;
    width: 700px;
    border-radius: 20px;
    padding: 20px;
}


.hebergements-ville-grid {
    width: 716px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 190px 190px;
    grid-gap: 18px;
}

.cellule {
    background-color: white;
    width: 200px;
    height: 160px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px gainsboro;
}

.hebergements-ville-grid > a {
    width: 208px;
    height: 168px;
    grid-column: span 3;
    grid-row: span 1;
    text-decoration: none;
}

.cellule > p {
    margin: 0;
}

.image-div {
    background-size: 200px 120px;
    width: 200px;
    height: 100px;
    border-radius: 16px 16px 0 0;
}

.image-div > img {
    display: none;
}

.legende {
    height: 50px;
    margin-top: 4px;
    margin-left: 12px;
    line-height: 18px;
    font-size: 12px;
}

.legende > p {
    margin: 0;
}

h3 {
    margin: 0;
}

.fa-star {
    color: #0065FC;
}

.vide {
    color: lightgray;
}

.affiche-plus {
    margin-top: 10px;
}

/* SECTION POPULAIRES */

.populaires {
    background-color: #F2F2F2;
    width: 278px;
    border-radius: 20px;
    padding: 25px;
}

.populaires-titre {
    display: flex;
    justify-content: space-between;
}

.fav-graphique {
    font-size: 23px;
    align-self: center;
}

.cellule-populaire {
    width: 278px;
    height: 450px;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cellule-populaire > a {
    text-decoration: none;

}

.cell-pop {
    display: flex;
    background-color: white;
    height: 115px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.image-div-pop {
    background-size: 115px 115px;
    width: 115px;
    height: 115px;
    border-radius: 16px 0 0 16px;
}

.image-div-pop > img {
    display: none;
}

.legende-pop {
    margin: 10px 10px 10px 18px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.legende-pop > p {
    margin-top: 5px;
    
}

.legende-pop > div {
    margin-top: 20px;
}

/* SECTION ACTIVITES */

#activites {
    margin-top: 60px;
}

.activites-ville {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px auto;
}

.droite {
    width: 520px;
    height: 440px;
    /* margin-left: 0px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: stretch;
}
.gauche {
    width: 520px;
    height: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: stretch;
}

.activites-carte-1 {
    width: 235px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.activites-carte-2 {
    width: 235px;
    height: 224px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.activites-carte-3 {
    width: 235px;
    height: 156px;
    margin-top: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.activites-carte-4 {
    width: 235px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.activites-carte-5 {
    width: 235px;
    height: 166px;
    margin-bottom: 52px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.activites-carte-6 {
    width: 235px;
    height: 220px;
    margin-bottom: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

.activites-image-1 {
    background-size: 300px 420px;
    height: 380px;
    border-radius: 20px;
    border-radius: 20px 20px 0 0;
}

.activites-image-2 {
    background-size: 235px 242px;
    height: 165px;
    border-radius: 20px 20px 0 0;
}

.activites-image-3 {
    background-size: 235px 158px;
    height: 98px;
    border-radius: 20px 20px 0 0;
}

.activites-image-4 {
    background-size: 380px 380px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-image-5 {
    background-size: 250px 150px;
    height: 114px;
    border-radius: 20px 20px 0 0;
}

.activites-image-6 {
    background-size: 240px 199px;
    height: 164px;
    border-radius: 20px 20px 0 0;
}

.image-activites {
    display: none;
}

.act-description {
    margin: 16px 0 0 14px;
    font-size: 15px;
    font-weight: 1000;
}

/* SECTION FOOTER */

.footer {
    width: max-content;
    height: 145px;
    margin: auto;
    background-color: #F2F2F2;
    padding: 45px;
    display: flex;
    justify-content: space-between;    
}

.element {
    width: 350px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* FILTRES */
    .filtres {
        width: 550px;
        height: 160px;
        align-content: space-between;
        flex-wrap: wrap;
    }

    .filtres > p {
        width: 400px;
    }

    .capsule {
        width: 180px;
    }

    /* HEBERGEMENTS */
    #hebergements {
        width: 710px;
        height: auto;
        flex-direction: column;
    }

    /* POPULAIRES */
    .populaires {
        width: 690px;
        height: 340px;
        margin-top: 30px;
    }
        
    .cellule-populaire {
        width: auto;
        height: 290px;
        margin-top: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    
    .cell-pop {
        width: 278px;
        height: 115px;
        margin-top: 10px;
    }

    /* ACTIVITES */
    .activites-ville {
        height: 1000px;
        justify-content: space-between;
        flex-direction: column;
    }    

    .droite {
        width: 550px;
        margin: auto;
        justify-content:space-between;
    }
    .gauche {
        width: 550px;
        margin: auto;
        justify-content:space-between;
    }

    /* FOOTER */
    .footer {
        width: auto;
    }

    .element {
        width: 250px;
        font-size: 15px;
    }
    
}

@media screen and (min-width: 1024px) {
    
}