html, body {
    font-family: Raleway, Arial;
    font-size: 12px;
    box-sizing: border-box;
    height: 100%;
}

#bloc-page {
    width: 1000px;
    height: 100%;
    margin: auto;
}

.header {
    padding: 20px 0;
}

.liste-navigation {
    display: flex;
    list-style-type: none;
}

#logo {
    margin-right: auto;
    margin-left: 0;
}

.inscription {
    color: #0065FC;
    font-weight: bolder;
}

.liste-navigation > div {
    height: 40px;
    margin: 20px;
}

.liste-navigation > div > img {
    height: 40px;
}

header a {
    text-decoration: none;
    width: max-content;
    color: black;
}

header a:active {
    padding-top: 20px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}


.localisation {
    display: flex;
    width: 300px;
    height: 35px;
}

.fav {
    background-color: lightgrey;
    height: 23px;
    width: 30px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    border: 1px solid lightgray;
    border-right: none;
    padding-top: 10px;
}

input {
    border: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

label {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    padding: 9px 10px 0 10px;
}

.filtres {
    display: flex;
    padding-top: 20px;
    width: 720px;
    justify-content: space-between;
    font-weight: bold;
}

.eco {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 20px;
    border-left: none;
    padding-right: 16px;
}

/* .description {
    border: 1px solid lightgray;
    border-radius: 20px;
    border-left: none;
} */

.familial {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 20px;
    border-left: none;
    padding-right: 16px;
}

.roman {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 20px;
    border-left: none;
    padding-right: 16px;
}

.animaux {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 20px;
    border-left: none;
    padding-right: 16px;
}

.fav-eco, .fav-familial, .fav-roman, .fav-animaux {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 18px;
    border-radius: 50%/50%;
    padding: 12px 7px 0 14px;
    margin-right: 10px;
}

.info {
    display: flex;
    padding-top: 20px;
}

.fav-info {
    align-self: center;
    color: #0065FC;
    width: 11px;
    border: 1px solid lightgray;
    border-radius: 50%/50%;
    padding: 2px 0px 2px 8px;
    margin-right: 9px;
}

.fa-info {
    font-size: x-small;
}